.about-title {
	color: #fff;
	font-size: 2em;
	font-weight: 400;
	font-family: "Open Sans", sans-serif;
	text-align: center;
}

.about-subtitle {
	font-size: 1em;
	font-style: italic;
	font-weight: 300;
	color: #fff;
	font-family: "Open Sans", sans-serif;
	margin-top: 25px;
	margin-bottom: 50px;
	text-align: center;
}
.content-item-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
}

.content-item-icon span {
	font-size: 1em;
	font-style: italic;
	font-weight: 500;
	color: #4cd137;
	font-family: "Open Sans", sans-serif;
}

#grid-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 100px auto;
}

.item1 {
	background: url("https://avatars.mds.yandex.net/i?id=cbcbb91e58b6d6e808bf8777da628499-5359702-images-thumbs&n=13");
	border: 4px solid #4cd137;
	width: 300px;
	height: 300px;
	background-repeat: no-repeat;
}

.item3 {
	background: url("../../assets/images/watchShoes.png");
	border: 4px solid #4cd137;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 300px;
	height: 300px;
}

.item4 {
	background: url("../../assets/images/mall.png");
	border: 4px solid #4cd137;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 300px;
	height: 300px;
}

@media screen and (max-width: 800px) {
	#grid-container {
		min-width: 500px;
	}
}
@media screen and (max-width: 700px) {
	#grid-container {
		min-width: 400px;
	}
}
@media screen and (max-width: 600px) {
	#grid-container {
		min-width: 300px;
	}
}
@media screen and (max-width: 500px) {
	#grid-container {
		min-width: 200px;
	}
}
@media screen and (max-width: 400px) {
	#grid-container {
		min-width: 100px;
	}
}
