.footer {
	display: flex;
	flex-wrap: wrap;
}
.footer-menu {
	list-style: none;
}
.footer-logo img {
	width: 100%;
}
.footer-menu {
	font-size: 18px;
	list-style: none;
	color: #4cd137;
}
.footer-menu:hover {
	color: white;
}

.footer-list {
	color: #4cd137;
	list-style: none;
}
.footer-list:hover {
	color: white;
}

.footer-icon {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

@media screen and (max-width: 1300px) {
}
